{% extends 'base.html.twig' %}

{% block title %}Formulaire d'import{% endblock %}

{% block body %}
    <h1 class="text-center text-uppercase mt-5">Formulaire d'import</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 card p-4 mt-4">
                <a class="navbar-brand" href="{{ path('app_home') }}"><img
                            src="{{ asset('uploads/img/1673960280513.png') }}" alt="logo-etalik" class="img img-fluid"
                            width="100"></a>
                {% for label,messages in app.flashes %}
                    <div class="container mt-3">
                        <div class="alert alert-{{ label }}">
                            {% for message in messages %}
                                <p>{{ message|raw }}</p>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
                {{ form_start(form) }}
                <div class="form-group mt-3">
                    <label class="form-label">Inserez votre fichier ".xlsx"</label>
                    {{ form_widget(form.fichier,{'attr':{'class':'form-control'} }) }}
                </div>
                <div class="mt-4 d-flex justify-content-end">
                    {{ form_widget(form.envoyer,{'attr':{'class':'btn btn-primary'} }) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
