{% extends 'base.html.twig' %}
{% block title %} Table {% endblock %}
{% block body %}
    <div class="container-fluid mt-5">
        <h1 class="text-center text-primary mb-5">CLIENTS APV A-2 A</h1>
        <table class="table table-striped table-bordered ">
            <tr class="">
                <th>#</th>
                {% for tab in tabs %}
                    <th scope="row">{{ tab.id }}</th>
                {% endfor %}
            </tr>
            <tr class="">
                <th>A</th>
                {% for tab in tabs %}
                    <td scope="row">{{ tab.A }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>B</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.B }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>C</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.C }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>D</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.D }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>E</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.E }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>F</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.F }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>G</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.G }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>H</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.H }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>I</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.I }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>J</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.J }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>K</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.K }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>L</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.L }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>M</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.M }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>N</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.N }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>O</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.O }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>P</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.P }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>Q</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.Q }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>R</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.R }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>S</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.S }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>T</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.T }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>U</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.U }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>V</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.V }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>W</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.W }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>W</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.X }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>Y</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.Y }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>Z</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.Z }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AA</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AA }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AB</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AB }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AC</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AC }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AD</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AD }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AE</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AE }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AF</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AF }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AG</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AG }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AH</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AH }}</td>
                {% endfor %}
            </tr>
            <tr class="">
                <th>AI</th>
                {% for tab in tabs %}
                    <td scope="cols">{{ tab.AI }}</td>
                {% endfor %}
            </tr>


        </table>
    </div>
{% endblock %}