{% extends 'base.html.twig' %}
{% block title %} Erreur {% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img alt="#" src="{{ asset('uploads/img/404.png') }}" class="img-thumbnail"><br>
                <a href="{{ path('app_home') }}" class="text-center text-danger">Retour a la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}